.productList{
    flex: 4;
}
.productList > a{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}
.errMsg {
    margin-bottom: 10px;
    padding: 20px 10px;
    background-color: #F6D7DA;
    width: 310px;
    border-radius: 10px;
    text-align: center;
    color: #D16C36;
  }
