.user{
    flex:4;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.userHeaderContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userAddButton{
   width:80px;
   border: none;
   padding: 5px;
   background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.userContainer{
    display: flex;
}
.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userShowTop{
    display: flex;
    margin-bottom: 20px;
}
.userShowInfo{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    flex-wrap: wrap;
    color: #444;
}
.userShowInfoTtile{
    display: flex;
    font-weight: 600;
    align-items: center;
}
.userShowInfoTtile svg{
    margin-right:7px ;

}

@media (max-width:970px) {
   .userContainer{
    display: block;
   } 
    
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}


.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
