.user{
    flex:4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.userHeaderContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.userAddButton{
   width:80px;
   border: none;
   padding: 5px;
   background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.userContainer{
    display: flex;
    flex-wrap: wrap;
}
.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userShowImage{
    width: 70px;
    height: 70px;
    border-radius: 20%;
    object-fit: cover;
}
.userUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userShowTop{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.userShowInfo{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    flex-wrap: wrap;
    color: #444;
}
.userShowInfoTtile{
    display: flex;
    font-weight: 600;
    align-items: center;
}
.userShowInfoTtile svg{
    margin-right:7px ;

}

@media (max-width:970px) {
   .userContainer{
    display: block;
   } 
    
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput,.userUpdateItem select{
    border: none;
    width: 250px;
    height: 30px;
    padding: 5px 3px;
    border-bottom: 1px solid gray;
}
.userUpdateInput:focus{
    outline: none;
    border-bottom: 2px solid black;
}
.userUpdateItem select:focus{
    outline: none;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}


.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
@media (max-width:475px){
    .userUpdateForm{
        display: block;
    }
    .userUpdateRight{
        margin-top: 10px;
        
    }
    .userUpdateUpload{
        justify-content: center;
    }
    
    .userUpdateInput,.userUpdateItem select{
        width: 100%;
    }
}
@media (max-width:373px){
    .userShowImage{
        width: 40px;
        height: 40px;
    }
    .userShowUsername{
        font-size: 15px;
        text-align: right;
    }
    .userTitle{
        font-size: 20px;
    }
}
@media (max-width:325px){
    .userShowInfo{
        display: block;
    }
}